<header class="header bg-white/10">
  <div class="p-2 px-20 flex items-center justify-between">
    <img
      [src]="'assets/logo-' + theme + '.png'"
      alt="HealthHub Logo"
      class="max-w-20 hover:scale-105 transition-transform duration-300"
    />

    <div class="gap-2 flex">
      <button *ngIf="isAuthenticated" (click)="openProfile()">
        <tui-avatar appearance="primary" size="m" [style.background]="initials | tuiAutoColor">
          {{ initials }}
        </tui-avatar>
      </button>

      <button
        class="cursor-pointer"
        size="m"
        appearance="outline"
        tuiIconButton
        (click)="toggleTheme()"
      >
        <lucide-angular [img]="theme === 'light' ? Sun : Moon"></lucide-angular>
      </button>
    </div>
  </div>
</header>

<ng-template #template>
  <label>Perfil do usuário</label>
</ng-template>

<ng-template
  let-observer
  [tuiSheetDialogOptions]="{ label: template, fullscreen: true }"
  [(tuiSheetDialog)]="open"
>
  <div class="content p-4">
    <section class="mb-4">
      <div class="text-lg font-semibold">
        {{ currentUser?.name || "Usuário" }}
      </div>
      <div class="text-sm opacity-70">{{ currentUser?.email }}</div>
    </section>
    <footer>
      <button
        tuiButton
        type="button"
        appearance="primary"
        (click)="logout(); observer.complete()"
      >
        Logout
      </button>
    </footer>
  </div>
</ng-template>
