.item .value {
  color: var(--tui-text-primary);
}

@mixin color() {
  color: var(--tui-chart-categorical-01);

  &:first-child {
    color: var(--tui-chart-categorical-08);
  }

  &:last-child {
    color: var(--tui-chart-categorical-12);
  }
}

.item {
  @include color();

  display: flex;
  align-items: center;
  margin: 0 0.75rem;

  &::before {
    content: "";
    border-block-end: 0.125rem solid;
    inline-size: 1rem;
    margin-inline-end: 0.5rem;
  }
}

.axes {
  block-size: 12.5rem;
  position: relative;
  display: block;
  inline-size: 100%;
}

.name {
  color: var(--tui-text-primary);
}

.value {
  color: #fff;
}

.chart {
  @include color();
  inline-size: 100%;
}
