<div class="py-4">
  <!-- Top cards: stack on small screens, 2 cols on md, 3 cols on xl -->
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 py-5">
    <div tuiAppearance="floating" tuiCardLarge>
      <h2 class="tui-text_center tui-text_ellipsis tui-space_bottom-2">
        Saldo Atual
      </h2>
      <p class="text-3xl">$12,345</p>
    </div>
    <div tuiAppearance="floating" tuiCardLarge>
      <h2 class="tui-text_center tui-text_ellipsis tui-space_bottom-2">
        Saldo Atual
      </h2>
      <p class="text-3xl">$12,345</p>
    </div>
    <div tuiAppearance="floating" tuiCardLarge>
      <h2 class="tui-text_center tui-text_ellipsis tui-space_bottom-2">
        Saldo Atual
      </h2>
      <p class="text-3xl">$12,345</p>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row gap-4 w-full">
    <div class="flex flex-col w-full gap-4">
      <div tuiAppearance="floating" tuiCardLarge class="">
        <app-invoicing></app-invoicing>
      </div>
      <div tuiAppearance="floating" tuiCardLarge class="">
        <app-bar-chart></app-bar-chart>
      </div>
    </div>
    <div class="flex flex-col gap-4 w-full lg:w-auto">
      <div tuiAppearance="floating" tuiCardLarge class="">
        <app-movement-period></app-movement-period>
      </div>
      <div tuiAppearance="floating" tuiCardLarge class="">
        <app-spent-department></app-spent-department>
      </div>
    </div>
  </div>
</div>
